.form__group {
    margin-left: 20px;
    margin-right: 20px;
}
.form-group {
    margin-top: 20px;
}

.form__footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form__footer > a:first-child {
    text-align: right;
}
.form__footer a {
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 600;
    color:var(--color-section-title);
    margin-left: 10px;
}
.form__footer p {
    font-family: var(--font-body);
    font-size: 13px;
    font-weight: 500;
    color:var(--text-secondary);
    
}
.form__footer button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.form__row {
    display: flex;
    justify-content:space-between;
    gap: 40px;
}
.form__row .form-group {
    flex: 1;
}
.form__input {
    border: 1px solid transparent
}
.form__input:focus {
    outline: none;
    border-color:var(--accent);
}
.form__check {
    display: flex;
    align-items: center;
    font-family: var(--font-body);
    font-size: 13px;
    font-weight: 400;
    color:var(--text-secondary);
}
.form__check input {
    margin-right: 10px;
}
.form__footer p {
    margin-left: 60px;
}

@media (min-width: 991px) {
        main {
            display: flex;
            flex-direction: row;
            min-height: calc(100vh - 50px);
            }
        .hero {
            flex: 0 0 45%;
            position: relative;
            overflow: hidden;
            width: auto;                    
            align-self: stretch;
        }
        .hero__image {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
          }

          .hero::after {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.40);
        }
          .hero__title {
            top: auto;
            position: absolute;
            bottom: 300px;
            left: 48px;
            z-index: 1;
            font-size: 72px;
          }
          .hero__subtitle {
            display: block;
            position: absolute;
            bottom: 200px;
            left: 48px;
            z-index: 1;
            color: white;
            font-size: 14px;
            max-width: 300px;
            line-height: 1.6;
            opacity: 0.80;
            font-weight: 800;
        }
        
          .form__group {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 48px 64px;
            max-width: 560px;
            margin: 0 auto;
            color: var(--text-elevated);
            font-family: var(--font-body);
          }
    
}