:root {
    
     /* ============================================================
       Variables typography
       ============================================================ */

    --font-title: 'Outfit', sans-serif;
    --font-body: 'Plus Jakarta Sans', sans-serif;


    /* ============================================================
       Variables colors
       ============================================================ */
    
    --bg-primary: #F2F0ED;
    --text-elevated: #ffffff;
    --accent-hover: #E8842A;
    --accent: #D97016;
    --border: rgba(0, 0, 0, 0.06);
    --bg-cards: #FAFAF8;
    --text-primary: #1A1714;
    --text-secondary: #6B6560;
    --color-section-title: #92400E;
    --text-placeholder: #ADA8A2;
    --badge-success-bg: rgba(22, 163, 74, 0.08);
    --badge-error-bg: rgba(220, 38, 38, 0.08);
    --badge-error-color: #BD2222;
    --badge-success-color: #10755C;
    --btn-dark-hover: #2D2A27;
    --btn-success-border: rgba(16, 117, 92, 0.5);
    --btn-disabled-bg: rgba(107, 101, 96, 0.07);
    --btn-disabled-border: rgba(107, 101, 96, 0.50);
    --btn-danger-border: rgba(189, 34, 34, 0.50);
    --badge-upcoming-bg: rgba(217, 112, 22, 0.14);
    --badge-upcoming-border: rgba(146, 64, 14, 0.50);
    --badge-finished-bg: rgba(173, 168, 162, 0.20);
    --badge-finished-border: rgba(173, 168, 162, 0.20);

   /* ============================================================
       Variables radius
       ============================================================ */
    --radius-xs: 6px;
    --radius-sm: 10px;
    --radius-md: 16px;
    --radius-lg: 20px;

}

